services:
  web:
    build: .
    working_dir: /code
    command: python3.10 -m gunicorn config.wsgi --bind 0.0.0.0:8080 --workers=3

    volumes:
      - type: bind
        source: .
        target: /code
    ports:
      - published: 8080
        target: 8080
    depends_on:
      db:
        condition: service_started

  db:
    image: postgres:14
    volumes:
      - type: volume
        source: bookstore_data
        target: /var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"

volumes:
  bookstore_data:
