* {
  margin: 0;
  padding: 0;
}

html {
  background-color: grey;
}

body * {
  border: solid 1px black;

  font-size: 20px;
}

p {
  margin: 15px;
}

nav {
  margin: 10px 5px;
}

div {
  position: relative;
  background-color: blanchedalmond;
}

#im-block {
  display: block;
  background-color: aliceblue;
}

#im-inline {
  display: inline;
  background-color: aliceblue;

  margin-top: 20px;
  margin-bottom: 20px;


  padding: 20px;
}

nav a {
  margin-left: 10px;
  margin-right: 10px;
}

.like-button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}