{% extends '_base.html' %}
{% load static %}

<!-- title -->
{% block title %} pages/home {% endblock %}

<!-- main -->
{% block main %}
<h1>pages/index.html</h1>
<img src="{% static 'images/dfp_cover_31.png' %}" alt="book cover" class="bookcover">

{% if user.is_authenticated %}
  Hi {{ user.email }}
  <a href="{% url 'account_logout' %}">Log Out</a>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'account_login' %}">Log In</a>
  <a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
