* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: gainsboro;
  font-size: 62.5%;
}

.header {
  background-color: cadetblue;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header ul {
  display: flex;
}

.header ul li {
  list-style: none;
  margin-left: 2rem;
  font-size: 3rem;
  border: none;
}

.container {
  padding: 1rem 2rem;
}


#main {
  font-size: 2rem;
}

.table,
.table tr,
.table th,
.table td {
  padding: 0.5rem;
  border: solid 1px black;
  border-collapse: collapse;
}


.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.button {
  font-size: 2rem;
  padding: 1rem 1.5rem;
}
