{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'header.css' %}">
{% endblock %}

<header class="header">
  {% if user.is_authenticated %}
    <ul>
      <li>You Logged In : {{ user.username }}</li>
      <li><a href="{% url 'books:index' %}">book.index</a></li>
      <li><a href="{% url 'books:create' %}">book.create</a></li>
      <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
    </ul>
  {% else %}
    <ul>
      <li>You Don't Login</li>
      <li><a href="{% url 'accounts:login' %}">Login</a></li>
      <li><a href="{% url 'accounts:signup' %}">SignUp</a></li>
    </ul>
  {% endif %}
</header>
