html {
  font-size: 18px;
  background-color: grey;
}

.container {
  padding: 10px 15px;
}

#header {
  font-size: 20px;
}

#header ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

#header ul li {
  display: inline-block;
  background-color: burlywood;
  padding: 5px 10px;
}

.table {
  border-collapse: collapse;
}

.table,
.table tr,
.table td,
.table th {
  padding: 4px 10px;
  border: 1px solid black;
}

.mt-1 {
  margin-top: 10px;
}

.mr-1 {
  margin-right: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.ml-1 {
  margin-left: 10px;
}
